SNOWFLAKE_USER=test_user@feverup.com
SNOWFLAKE_ACCOUNT=test_account
SNOWFLAKE_ROLE=TEST_ROLE
SNOWFLAKE_DATABASE=TEST_DB
SNOWFLAKE_SCHEMA=TEST_SCHEMA
SNOWFLAKE_WAREHOUSE=TEST_WAREHOUSE
SNOWFLAKE_PRIVATE_KEY_PATH=/absolutepath/rsa_key.p8